.alert{
    width:70%;
    height: auto;
    padding: 15px;
    
    display: flex;
    gap:60%;
    justify-content: space-around;
    border:1px solid black;
    border-radius: 1rem;
    margin:1rem;
}
.redalert{
    background-color: #FF6363;
}
.contentIcon{
    cursor: pointer;
    padding:1rem;
}
.contentItem{
    padding:1rem;
}
.greenalert{
    background-color: #77D970;
}

.bluealert{
    background-color: #3DB2FF;
}
.yellowalert{
    background-color: #F9D371;
}

/* badges */
.badges{
    color:rgb(202, 186, 186);
    display: flex;
    

}
