<<<<<<< HEAD
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
=======
>>>>>>> 59aa76f14abbbc8ce9191955bc7a9f7362babc6f
.avtaars{
    display: flex;
    justify-content: center;
}
<<<<<<< HEAD
.avtaars img{
    width: 100%;
    height:auto;
    border-radius: 50%
    
}
.xsm-avtaars{
    width: 10%;
    height: 10%;
}
.sm-avtaars{
=======
 img{
    width: 100%;
    height:auto;
    border-radius: 3%
    
}
.xsm{
    width: 10%;
    height: 10%;
}
.sm{
>>>>>>> 59aa76f14abbbc8ce9191955bc7a9f7362babc6f
    width: 15%;
    height: 15%;
    position: relative;
}
<<<<<<< HEAD

.md-avtaars{
=======
.sm{
    width: 20%;
    height: 20%;
    position: relative;

}
.md{
>>>>>>> 59aa76f14abbbc8ce9191955bc7a9f7362babc6f
    width: 25%;
    height: 25%;
    position: relative;

}
<<<<<<< HEAD
.lg-avtaars{
=======
.lg{
>>>>>>> 59aa76f14abbbc8ce9191955bc7a9f7362babc6f
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 50%;
    

}
<<<<<<< HEAD
.xlg-avtaars{
    width: 35%;
    height: 35%;
    position: relative;
}
=======
.xlg{
    width: 35%;
    height: 35%;
    position: relative;
}
>>>>>>> 59aa76f14abbbc8ce9191955bc7a9f7362babc6f
