*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
.avtaars{
    display: flex;
    gap:1rem;
}
.avtaars img{
    width: 100%;
    height:auto;
    border-radius: 50%
    
}
.xsm-avtaars{
    width: 10%;
    height: 10%;
}
.sm-avtaars{


    width: 15%;
    height: 15%;
    position: relative;
}
.md-avtaars{

    width: 25%;
    height: 25%;
    position: relative;

}

.lg-avtaars{
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 50%;
    

}

.xlg-avtaars{
    width: 35%;
    height: 35%;
    position: relative;
}