.avtaars{
    display: flex;
    justify-content: center;
}
 img{
    width: 100%;
    height:auto;
    border-radius: 3%
    
}
.xsm{
    width: 10%;
    height: 10%;
}
.sm{
    width: 15%;
    height: 15%;
    position: relative;
}
.sm{
    width: 20%;
    height: 20%;
    position: relative;

}
.md{
    width: 25%;
    height: 25%;
    position: relative;

}
.lg{
    width: 30%;
    height: 30%;
    position: relative;
    border-radius: 50%;
    

}
.xlg{
    width: 35%;
    height: 35%;
    position: relative;
}
