:root{
    --primaryBadgeCol:#876445;
    --secondaryBadgeCol:#D96098;
    --thirdBadgeCol:#24A19C;
    --fourthBadgeCol:#325288;
    --badges-color:#CABABA;
}

.badges{
    color:var(--badges-color);
    display: flex;
    /* margin-bottom:2rem; */
}
.badge-plain{
    padding: 1rem;
    width: 13%;
    height: auto;
    border-radius: 1rem;
    text-align: center;
    margin-right: 1rem;
}
.primary{
    background-color: var(--primaryBadgeCol);
}
.secondary{
    background-color: var(--secondaryBadgeCol);
}
.third{
    background-color: var(--thirdBadgeCol);
}
.fourth{
    background-color:var(--fourthBadgeCol);
}