:root{
    --badge-icon-grey-col:grey;
    --badge-backgound-color:#DACFCF;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    color:black;

}
.badgeIcons{
    width:30%;
    display:flex;
    flex-direction: row;
    gap:2rem;
    padding:1rem;
}
.badgeIcon{
    font-family: sans-serif;
    color:black;
    position: relative;
    
}
.badge-icon1{
    font-size: 3rem;
    color:var(--badge-icon-grey-col);
}
.badge-content1{
    
    background-color:var(--badge-backgound-color);
    border-radius: 50%;
    width:1.2rem;
    height: 1.2rem;
    text-align: center;
    position:absolute;
    left:2.63rem;
    top:-6px;  
}
.badge-icon2{
    font-size: 3rem;
    color:black;
}
.badge-content2{
    background-color:var(--badge-backgound-color);
    border-radius: 50%;
    width:1.2rem;
    height: 1.2rem;
    text-align: center;
    position:absolute;
    left:1.6rem;
    top:-3px;

}