input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  :root{
    --modal-background-color:aliceblue;
    --modal-cancel-button:rgba(255, 0, 0, 0.589);
    --modal-login-color:white;
    --modal-submit-background-color:#082032;
    --modal-login-content-border:#888;
  }
  
  /* Set a style for all buttons */
  .login-btn-ecom {
    background-color: var(--modal-submit-background-color) ;
    color: var(--modal-login-color) ;
    padding: 14px 20px ;
    margin: 8px 0 ;
    border: none ;
    cursor: pointer;
    width: auto ;
    border-radius: 10px;
    display:block;
  }
  .login-btns:hover{
      background-color: var(--primary-color);
  }
  .cancel-btn{
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: auto;
    padding: 0.5rem 1rem;
    background-color: var(--modal-cancel-button);
    position: relative;
    top:0rem;
    left:0px;
  }
  .submit-btn{
    background-color:var(--modal-submit-background-color);
    color: var(--modal-login-color) ;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    position: relative;
    top:2rem;
    left:0px;
    width: 100%;
  }
  .submit-btn:hover {
    opacity: 0.8;
    background-color:var(--primary-color) ;
  }
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container-form {
    padding: 16px;
    background-color: var(--modal-background-color);
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  .login-container {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: var(--modal-submit-background-color);
    padding-top: 60px;
  }
  
  .login-content {
    background-color: var(--modal-background-color);
    margin: 5% auto 15% auto;
    border: 1px solid var(--modal-login-content-border);
    width: 80%; 
  }
  
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: var(--modal-submit-background-color);
    font-size: 2.18rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: var(--primary-color);
    cursor: pointer;
  }
  
  .login-animate {
    
    animation: animatezoom 0.8s
  }
    @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  .login-btns{
      width:50%;
      float: left;
  }
  .container-form-button{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
}

